/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: "Lato", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #4c555a;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}
body {
    background-color: #F5F7F9;
}
code, pre, tt {
    font-family: "Lucida Console","Monaco",monospace;
    font-size: 0.9rem;
    color: #d0d0d0;
    background-color: #272B2D;
    padding:20px 40px;

    margin:20px 0;

    border-radius: 5px;

    direction: ltr;
    hyphens: none;
    text-align: left;
    white-space: pre-wrap;
    word-break: normal;
    word-spacing: normal;
    display:block;

    -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    /*box-shadow:         inset 0 0 5px rgba(0,0,0,0.1);*/

    box-shadow:0 0 3px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 0 rgba(0, 0, 0, 0.5);

}

a, a:visited, a:hover, a:active {
    color: #de6262;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

a {
    text-decoration: none;
}
a:hover, a:active {
    color: inherit;
}



.clearfix:after,
.group:after {
    content: "";
    display: table;
    clear: both;
}
#nav {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 300px;
    color: #fff;
    background-color: #de6262;
    background-image: linear-gradient(#de6262, #F09179);

    /*background:rgba(0, 0, 0, 0) linear-gradient(135deg, #333973 0%, #673a5d 100%) repeat scroll 0 0;*/

    padding: 60px;
}
#content {
    position: absolute;
    left: 300px;
    right: 0px;
    top: 0;
    /*min-height: 1200px;*/
    line-height: 1.6;

    /*-moz-transition: all .1s ease-in;*/
    /*-o-transition: all .1s ease-in;*/
    /*-webkit-transition: all .1s ease-in;*/
    /*transition: all .1s ease-in;*/

}
h1,
h2 {
    margin: 0 0 20px 0;
    font-size: 1.8em;
    font-weight: 100;
}
#nav h1 {
    font-size: 3.8em;
}
#nav h2 {
    color: rgba(255, 255, 255, 0.6)
}
#nav ul {
    font-size: 1.2rem;
    line-height: 2;
    padding-top: 20px;
}
#nav a {
    color:#fff!important;
}
.content-item {
    background-color: #2D3134;
}
.content-item:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}
.content-item .body,
.content-item .code {
    padding: 60px;
    float: left;
}
.content-item .body {
    background-color: #F5F7F9;
    width: 60%;
    min-height:100vh;
}
.content-item .code {
    color: #d0d4d7;
    width: 40%;
}

.content-item .body p {
    margin:20px 0;
}


footer .footer-left {
    padding:40px 60px;
    width:60%;
    float: left;
    background-color: #D1D8DF;
}
footer .footer-right {
    padding:40px 60px;
    width:40%;
    float: left;
    background-color: #272B2D;
}
footer .footer-right a {
    color:#090D0F;
}



.icon > svg {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}




@media (max-width: 1200px) {
    html {
        font-size: 16px;
    }
    #nav {
        width: 250px;
        padding: 30px;
    }
    #content {
        left: 250px;
    }
    .content-item .body,
    .content-item .code,
    footer .footer-left,
    footer .footer-right {
        padding: 30px;
    }
}
@media (max-width: 960px) {
    #nav {
        position: static;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to right, #de6262, #E97E70);
    }
    #content {
        position: static;
    }
    .content-item .body,
    .content-item .code,
    footer .footer-left,
    footer .footer-right
    {
        width: 100%;
    }
    footer .footer-left {
        margin-top: 120px;
        background-color: #2D3134;
    }
    .content-item .body {
        height:auto;
        min-height: 400px;
    }
    #nav ul li {
        display: inline;
        margin: 0 15px;
    }
}



img {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    margin: 0 0 30px;
    padding: 20px;
    width:100%;
}


