---
layout: default
---
{% for post in site.posts %}
<div class="content-item">
    <div class="content-item__header">
        <!--<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>-->
        <h2>{{ post.title }}</h2>
    </div>
    <div class="content-item__body">
        {% assign image = post.images[0] %}
        {% include image.html image=image %}
        {{ post.excerpt }}
    </div>
    <div class="content-item__footer">
        {% for category in post.categories %}
        <span class="content-item__footer__tag">{{category}}</span>
        {% endfor %}
    </div>
</div>
{% endfor %}