<footer class="footer">
    <ul class="footer__links">
        <li>
            <a href="mailto:crossan@gmail.com"><i class="ion-paper-airplane"></i> Email</a>
        </li>
        <li>&bull;</li>
        <li>
            <a href="http://ie.linkedin.com/in/crossan" target="_blank"><i class="ion-social-linkedin"></i>  LinkedIn</a>
        </li>
        <li>&bull;</li>
        {% if site.github_username %}
        <li>
            {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}
    </ul>
    <p>Brought to life in Cork, Ireland</p>
    <p class="footer__copyright">&copy; <script>document.write(new Date().getFullYear());</script>, Paul Crossan</p>
</footer>