html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.clearfix:after,
.group:after {
    content: "";
    display: table;
    clear: both;
}
body {
    background-color: #F0F4F7;
    font-family: "Lato", "Helvetica Neue", helvetica, arial, sans-serif;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    color: #333F4E;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}
a, a:visited {
    color: #e74c3c;
    text-decoration: none;
}
a {
}
a:hover, a:active {
    color: #c0392b;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
h1,
h2 {
    margin: 0;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.6);
}
.icon-hero {
    height:220px;
    font-size:140px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-hero i {
    color:#22A7F0;
    cursor:pointer;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.08);
}
.icon-hero--small {
    height:120px;
    font-size:80px;
}
.header {
    padding:20px 10px 60px 10px;
    text-align: center;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.6);
}
.header h1 {
    font-size: 2.4em;
}
.header h2 {
    color:#707883;
    font-size: 1.1em;
    text-transform:uppercase;
    margin:0 0 40px;
}
.header p {
    color:#707883;
    margin:0;
}
.header a {
    color:#333F4E;
}
#content {
    margin:0 auto;
    width: 800px;
    line-height: 1.6;
}
.content-item {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px #c3c8c9;
    margin-bottom:80px;
}
.content-item__header {
    padding:20px 60px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #495B70;
}
.content-item__header h1,.content-item__header h2 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 1.2em;
    color:#E8EDEF;
    text-align: left;
    margin:0;
}
.content-item__header a {
    color:inherit;
}
.content-item__body {
    padding: 40px 60px;
}
.content-item__body p {
    margin:20px 0;
}
.content-item__body img {
    width:100%;
    margin:20px 0;
    padding:3px;
    box-shadow: 0 1px 1px #c3c8c9;
}

.content-item__footer {
    background: #F8FAFB none repeat scroll 0 0;
    border-top: 1px solid #e7eaeb;
    padding: 22px 60px;
    /*text-align: right;*/
    font-size: 0.9em;
    color:#93A6AF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: bold;
    line-height: 32px;
}

.content-item__footer__tag {
    padding: 4px 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-weight: normal;
    background: #E8EDEF none repeat scroll 0 0;
}

.content-item__body--portfolio {
    padding:40px;
    background: #F8FAFB none repeat scroll 0 0;
}
.content-item__body--portfolio p {
    margin:0;
}
.content-item__body--portfolio img {
    margin:0;
    box-shadow:none;
    float:left;
    padding:40px;
}
.content-item__body--portfolio img {
    width:auto;
    height:600px;
}

.content-item__footer--portfolio {
    float:left;
}




.footer {
    padding:20px 0 40px 0;
    text-align: center;
    color:#93A6AF;
    font-size: 0.9em;
}
.footer__links, .header__nav {
    padding:0
}
.footer__links li, .header__nav li  {
    display: inline-block;
    margin:0 10px;
    color: #3498db;
}
.footer__links a, .header__nav a {
    color: #22A7F0;
}
.footer a:hover,.footer a:active, .header__nav a:hover,.header__nav a:active {
    color: #1774A8;
    /*text-decoration: underline;*/
}
.footer__copyright {
    font-size: 0.8em;
}

/* Large Monitor */

@media only screen and (min-width: 1200px) {

}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #content {
        width: 80%;
    }
    header {
        padding:80px 0 80px 0;
    }
    /*.content-item__body, .content-item__header {*/
    /*padding:20px 40px;*/
    /*}*/
    .icon-hero {
        height:180px;
        font-size:100px;
    }
}

/* Mobile */

@media only screen and (max-width: 767px) {
    #content {
        width: 96%;
    }
    .header h1 {
        font-size: 2em;
    }
    .header h2 {
        font-size: 0.95em;
        /*margin:0 0 40px;*/
    }
    .header p {
        font-size: 0.95em;
        margin:0;
    }

    .content-item__body, .content-item__header, .content-item__footer  {
        padding:10px 20px;
    }
    .icon-hero {
        height:140px;
        font-size:80px;
    }
    .content-item__header h2 {
        font-size: 1.1em;
    }
}